<style>
    .order-no-list::after {
        content: '暂无数据';
        line-height: 3;
    }
    .game-loading {

    }
    .game-loading::after {
        content: '加载中...';
        line-height: 3;
    }
    tr th, tr td {
        text-align: center;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div style="padding: 1px 0; border-bottom: 1px solid #f5f5f5;">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">{:__('Game')}</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{:__('Game Model')} <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="gameModel">
                                            <li data-id="0"><a href="#">{:__('All Model')}</a></li>
                                            <li role="separator" class="divider"></li>
                                            {volist name="gameModel" id="model"}
                                            <li data-id="{$model.id}"><a href="#">{$model.title}</a></li>
                                            {/volist}
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{:__('Game Name')} <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="gameName">
                                            <li data-id="0"><a href="#">{:__('All Game')}</a></li>
                                            <li role="separator" class="divider"></li>
                                            {volist name="gameName" id="item"}
                                            <li data-id="{$item.id}"><a href="#">{$item.game_name}</a></li>
                                            {/volist}
                                        </ul>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-left" id="fm">
                                    <input type="hidden" name="index" value="0">
                                    <input type="hidden" id="form-type" name="type" value="0">
                                    <input type="hidden" id="form-name" name="name" value="0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button id="fm-submit" type="submit" class="btn btn-default">{:__('Submit')}</button>
                                </form>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="clearfix">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">{:__('Game Panel')}</h3>
                        </div>
                        <div class="panel-body">
                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        {volist name="tableField" id="head"}
                                        <th>{:__($head)}</th>
                                        {/volist}
                                    </tr>
                                </thead>
                                <tbody id="game-list">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>